.squanchy-slider {
    -webkit-appearance: none;
    align-content: center;
}

.squanchy-slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
    margin: 10px;
}

.squanchy-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -4px;
}

.squanchy-slider:focus {
    outline: none;
}

.squanchy-slider:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

.container {
    padding: 20px;
}
